<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lsh.recycleradapterdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".act.MainAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".act.PtrLinearLayoutRefreshAct"/>
        <activity android:name=".act.PtrLinearLayoutWithHeadAct"/>
        <activity android:name=".act.PtrStaggeredRefreshAct"/>
        <activity android:name=".act.PtrRefreshStaggeredWithHeadAct"/>




        <activity android:name=".act.SwipeLinearLayoutRefreshAct"/>
        <activity android:name=".act.SwipeLinearLayoutWithHeadAct"/>
        <activity android:name=".act.SwipeStaggeredRefreshAct"/>
    </application>

</manifest>